{% extends "base.html" %}

{% block title %}myShortURL{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>myShortURL</h1>
</div>
<p class="lead">Little URL shortener (a small mechanism to create shorter links). Python + Flask + Flask-Bootstrap +
    SQLAlchemy. For fun and learning. Version 0.1</p>
<p id="bgpixa">Background image: <a
        href="https://pixabay.com/pl/users/Ylloh-1120886/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3852255"
        target="_blank">
        Ylloh</a> z <a
        href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3852255"
        target="_blank">
        Pixabay</a></p>
{% endblock %}