{% extends "base.html" %}

{% block title %}myShortURL{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>myShortURL</h1>
</div>
<div class="row text-left">
    <div class="col-md-2">URL address:</div>
    <div class="col-md-10">{{ adres }}</div>
</div>
<div class="row mt-md-5">
    <div class="col-md-2">Link:</div>
    <div class="col-md-8"> <input type="text" class="form-control" id="new-link" value={{ new_link }} readonly>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" type="button" data-clipboard-action="copy"
            data-clipboard-target="#new-link">Copy</button>
    </div>
</div>
{% endblock %}